html {
    font-size: 62.5%;
}

body {
    background-color: #131313;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    color: #f3f3f3;
    line-height: 1.5;
    overflow: hidden;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
  /* 2 */
    cursor: pointer;
  /* 3 */
    *overflow: visible;
  /* 4 */
}

body.no-scroll, body.show-sidebar {
    overflow: hidden;
}



*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Blocks */
.player {
    background-color: #323232;
    background-image: url("https://papers.co/wallpaper/papers.co-vt30-abstract-polygon-bw-pattern-gray-23-wallpaper.jpg"), linear-gradient(rgba(0,0,0,0.1),rgba(240, 240, 240, 0.9));
    background-blend-mode: overlay;
    background-size: cover; 
    background-position: -24.5rem center; 

    max-width: 50rem;
    max-height: 64rem;
    width: 100%;
    height: 100%;
    border-radius: 7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    box-shadow: 4px 8px 49px -9px rgba(0, 0, 0, 0.7);

}

.player_preview {
    margin-bottom: 3rem;
    margin-top: 7rem;
    padding: 0 10rem;
}

.player_preview img.active {
    width: 30rem;
    height: 30rem;
    border-radius: 3rem;
    border: 2px solid #f3f3f3;
    -o-object-fit: cover;
    object-fit: cover;
    box-shadow: 4px 8px 29px -9px rgba(0, 0, 0, 0.7);
}

.player_nav {
    margin-bottom: 4rem;
}

.player_nav-buttons {
    margin-bottom: 2rem;
    padding: 0 10rem;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}

.player_nav-buttons button {
    background: none;
    border: none;
    color: #f3f3f3;
    font-size: 5rem;
}

.player_nav-buttons .nav-prev {
    font-size: 3.5rem;
}


.player_nav-buttons .nav-next {
    font-size: 3.5rem;
}

.player_nav-buttons .nav-loop {


    font-size: 2.5rem;
}

.player_nav-buttons .nav-time {
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: inline-block;

    z-index: 1;

    background-color: rgb(24, 24, 24, 0.8);

    padding: 1rem 0.7rem 1rem;


    border-radius: 50%;
}

.btn {
    transition: all 200ms ease-in-out;
}

.btn:hover {
    color: #131313;
}

.player_bar {
    width: 42.5rem;
    height: 8px;
    background-color: #c4c4c4;
    margin: 0 auto;
    border-radius: 10rem;
    cursor: pointer;
}

.progress {
    background-color: #131313;
    height: 100%;
    border-radius: 11rem;
    width: 0%;
    transition: width .1s linear, box-shadow 1s linear;
    z-index: 5;

    position: relative;
}

.progress_thumb {
    border-radius: 50%;
    position: absolute;

    top: 50%;
    right: 0;

    transform: translateX(-50%);


    width: 3rem;
    height: 3rem;

    opacity: 0;

    background-color: #131313;

    transition: opacity .4s linear;

    display: none;

}

.player_info {
    padding: 0 10rem;
    text-align: center;
    transition: width .2s ease-in-out;
}


.player_text {
    font-size: 2rem;
    line-height: 1.2;
    background-color: rgba(24, 24, 24, 0.8);
    border-radius: 5rem;
    padding: 1rem;

    font-weight: 500;

    box-sizing: border-box;

    transition: width .2s ease-in-out;
}



.music {
    display: none;
}

.bg {
    height: 100vh;
    width: 100%;

    

    position: absolute;

    background: url('https://images.squarespace-cdn.com/content/v1/606dc1c275e0ad031bd77e44/6b84b20b-70aa-451a-99b6-08f6ce3865c4/A8CE5328-0CBB-4DEA-AF81-02D6BC91A1F7.jpg?format=2500w');
    background-size: cover;

    filter: blur(5px);
    
}

.main {
    height: 100vh;
    background-color: #131313;
    position: relative;
}

.volume_container {
    background-color: rgb(110, 110, 110, .2);

    max-width: 46rem;
    max-height: 33.3rem;
    width: 100%;
    height: 100%;

    border-radius: 1rem;

    position: absolute;
    position: relative;
    top: 50%;
    left: 50%;
    

    transform: translateY(-50%) translateX(-50%) scale(1.2);

    box-shadow: 4px 8px 49px -9px rgba(0, 0, 0, 0.7);
}

.volume {

    display: block;


}

/* Volume */

.slidercontainer {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;
    width: 30rem;
    height: .8rem;
    border-radius: 2rem;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

  }
  
  @keyframes spinner {
    to {
        transform: rotate(360deg);
    }
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 3rem;
    height: 3rem;
    border-radius: 50%; 
    background: #131313;
    cursor: pointer;

    transition: all .2s;

    animation: spinner .7s linear infinite;
  }



  .slider::-webkit-slider-thumb:hover {
    -webkit-appearance: none;
    appearance: none;
    background: #535353;

  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #c4c4c4;
    cursor: pointer;
  }

  @media (max-width: 500px) {
    
    .player {

        max-width: 40rem;
        max-height: 55rem;
        width: 100%;
        height: 100%;

    }

    .player_preview {
        margin-bottom: 3rem;
        margin-top: 5rem;
        padding: 0 10rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .player_bar {
        width: 100%;
        max-width: 35rem;
    }

    .player_text {
        text-overflow: clip;
        white-space: pre-line;
    }

    .player_info {
        padding: 0 2.5rem;

    }

    .player_preview img.active {
        width: 22rem;
        height: 22rem;
        border-radius: 3rem;
        border: 2px solid #f3f3f3;
        -o-object-fit: cover;
        object-fit: cover;
        box-shadow: 4px 8px 29px -9px rgba(0, 0, 0, 0.7);

        margin: 0;

      
    }

  }

  @media (max-width: 400px) {


    .player {
        max-width: 35rem;
        max-height: 55rem;
        width: 100%;
        height: 100%;
    }

    .player_bar {
        width: 100%;
        max-width: 29rem;
    }

    .slider {
        -webkit-appearance: none;
        width: 15rem;
        height: .8rem;
        border-radius: 2rem;  
        background: #d3d3d3;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    
      }

    .player_nav-buttons {
        padding: 0 2rem;
    }

  }